<section>
  <h1>Автор</h1>
  <p>
    Евгений Киров,<br>
    <small>разработчик в <a href="http://whitescape.com/">Whitescape</a>,<br> <s>создатель «<a href="http://tvoeradio.org/">Твоегорадио</a>»</s><br>и ещё одного проекта, о котором вы скоро услышите.</small><br>
    </p>
  <p>
    {% for link in site.about_me_links %}
      <a href="{{link}}" title="{{link|domain}}"><img src="data:image/png;base64,{{link|favicon}}" alt="{{link|domain}}" width="16" height="16"></a>
    {% endfor %}
  </p>
</section>
