// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$link-color: #890000;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: $link-color-hover;

$page-bg: black;
$main-bg: white;

$header-bg: #fea62a;

$nav-bg: black;
$nav-color: white;

$footer-color: #666;
$footer-bg: black;